*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display';
    background-image: url("images/pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}

.container {
    max-width: 375px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero--image {
    background: url('images/illustration-hero.svg');
    height: 25vh;
    background-size: cover;
    background-position: center;
    border-top-left-radius:  15px;
    border-top-right-radius:  15px;
}

.hero--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px;
}

.hero--content__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
}

.hero--content__text h2 {
    margin-bottom: 20px;
    font-weight: 900;
}

.hero--content__text p {
    color: hsl(224, 23%, 55%);
}

.hero--content__plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
    padding: 15px 15px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}

.hero--content__plans a:hover {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.hero--content__subplans {
    display: flex;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
}

.plan p:first-child {
    font-weight: 700;
}

.plan p:last-child {
    color: hsl(224, 23%, 55%);
}

a {
    text-decoration: none;
}

.link {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.link a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 25px;
    font-weight: 500;
}

.link a:last-child {
    color: hsl(224, 23%, 55%);
}

.link a:hover:last-child {
    color: hsl(223, 47%, 23%);
}

.payment {
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    box-shadow: 0px 9px 4px hsl(225, 100%, 94%);
    margin-bottom: 10px;
}

.payment:hover {
    background-color: hsl(224, 23%, 55%);
}